<template name='A6sViewSignIn'>
  <div class="container">
    <div class="row">
      {{#if logo}}
        <div class="a6sView-logo">
            <a href="/"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="a6sView col-md-4 col-md-offset-4">
        {{#if otherLoginServices}}
        <div class="a6sView-social">
          {{#each loginServices}}
            {{> a6sViewSocial}}
          {{/each}}
          {{#if passwordLoginService}}
          <div class="email-option">
            <strong class="line-thru or-sign-in">{{t9n "OR"}}</strong>
          </div>
          {{/if}}
        </div>
        {{/if}}
        {{> A6sViewError}}
        {{#unless otherLoginServices}}
          <div class="email-option">
            <h3>{{t9n "signIn"}}</h3>
          </div>
        {{/unless}}
        {{#if passwordLoginService}}
          <form class="a6sView-form" id='signIn'>
            <div class="form-group">
              <input autofocus name="email" type="{{emailInputType}}" class="form-control" value='{{email}}' placeholder="{{emailPlaceholder}}">
            </div>
            <div class="form-group">
              <input name="password" type="password" class="form-control" value='{{password}}' placeholder="{{t9n 'password'}}">
            </div>
            {{#unless isUsernameOnly}}
              <p><a href="{{pathFor 'A6sViewForgotPassword'}}">{{t9n "forgotPassword"}}</a></p>
              <button type="submit" class="submit btn btn-block btn-default">{{t9n "signIn"}}</button>
            {{/unless}}
          </form>
        {{/if}}
        {{#if showCreateAccountLink}}
        <p class="a6sView-signup-cta">{{t9n "dontHaveAnAccount"}} <a href="{{pathFor 'A6sViewSignUp'}}">{{t9n "signUp"}}</a></p>
        {{/if}}
      </div>
    </div>
  </div>
</template>
